.pagsobre{
    width: 100%;
    height: auto;
}
.politica_corpo{
    width: 100%;
    height: auto;
}

.politica_titulo{
    color: black;
    font-size: 5.3vh;
    font-weight: bold;
    text-align: center;

}

.descricoes_text{
    width: 90%;
    height: auto;
}

.destaque_politica{
    color: black;
    font-weight: bold;
    font-size: 3.5vh;
}

.coleta_info{
    color: black;
    font-size: 3.2vh;
   
}

.agradecimento_politica{
    color: black;
    font-size: 3vh;
}