* {
    margin: 0;
    border: 0;
    padding: 0;
}


.sessãopdt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.caixaprodutos {
    width: 100%;
    height: auto;
    background-color: #fdd3;
    margin-top: 00px;
}


.Titulo_produtos {
    margin-bottom: 00px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 80px;
    margin-top: 200px;
    font-weight: bold;


}

.pdtcursodicas {
    width: 75%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: #fdd3e4;
    margin-top: 100px;
}

.pdtdescrição {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pdtdescrição h2 {
    color: black;
    font-size: 50px;
    margin-left: 40px;
    font-weight: bold;
}

.pdtdescrição p {
    width: 70%;
    color: black;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 20px;
    
}

.pdtcursodicas img {
    width: 25%;
    height: 57vh;
    position: absolute;
    margin-left: 850px;
    margin-bottom: 50px;
}


.pdtagendamento {
    width: 75%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: #ff8fb2;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pdtdescrição {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pdtdescrição h2 {
    color: black;
    font-size: 50px;
    margin-left: 40px;
    font-weight: bold;
}

.pdtdescrição p {
    width: 70%;
    color: black;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 20px;
   
}

.pdtagendamento img {
    width: 25%;
    height: 57vh;
    position: absolute;
    margin-left: 850px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1920px) {
    .pdtdescrição p {
        width: 70%;
        font-size: 35px;
    }

    .pdtcursodicas img {
        margin-left: 1200px;
        height: 50vh;
        
    }

    .pdtagendamento img {
        height: 50vh;
        margin-left: 1200px;

    }
    
}