@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.pagproduto {
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;

}

.carrosel {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #7677d2;
    overflow: hidden;
    justify-content: space-around;
}

.sec11 {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    color: #000;
    text-align: left;
    padding-left: 5%;
}

.sec12 {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: flex-end;

}

.descri_Bellifica {
    font-size: 6vh;
    margin-right: 0px;
}

.buttonino {
    border: 2px solid #000;
    color: #000;
    border-radius: 5vh;
    padding: 10px;
    width: 50%;
    height: auto;
    font-size: x-large;
    text-align: center;
    background-color: transparent !important;
}

.buttonino:hover {
    transition: all 0.3s ease;
    border: 2px solid #fd9ba6;
    text-shadow: #fd9ba6;
    color: #7677d2;
    background-color: #fd9ba6 !important;
    border-radius: 5vh;
    text-align: center;
}



.sessãopdt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.caixaprodutos {
    width: 100%;
    height: auto;
    background-color: #fdd3;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin-top: -50px;

}


.Titulo_produtos {
    margin-bottom: 60px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 80px;
    margin-top: 200px;
    font-weight: bold;


}

.pdtcursodicas {
    width: 75%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: #ff8fb2;
    border-top-right-radius: 26vh;
    border-bottom-right-radius: 26vh;

}

.pdtdescri {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.pdtdescri h2 {
    color: black;
    font-size: 8vh;
    text-align: center;
    font-weight: bold;
}

.pdtdescri p {
    width: 90%;
    color: black;
    font-size: 5vh;
    text-align: center;

}

.pdtcursodicas img {
    width: 35%;
    height: 50vh;
    display: flex;
    justify-content: end;
    align-items: end;

}

.campagendamento {
    display: flex;
    justify-content: end;

}

.pdtagendamento {
    width: 75%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    background-color: #fdd3e4;
    justify-content: end;
    border-top-left-radius: 26vh;
    border-bottom-left-radius: 26vh;

}

.pdtdescrição {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;

}

.text1 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.text1 h2 {
    color: black;
    font-size: 8vh;
    font-weight: bold;

}

.text1 p {
    width: 80%;
    color: black;
    font-size: 5vh;
    text-align: center;

}

.pdtagendamento img {
    width: 35%;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

}

@media screen and (min-width:768px) and (max-width: 1279px) {
    .buttonino {
        border: 2px solid #000;
        color: #000;
        border-radius: 5vh;
        padding: 5px;
        width: 80%;
        height: auto;
        font-size: 3.5vh;
        text-align: center;
        background-color: transparent !important;
    }



    .typingeffect {
        font-size: 5vh;
        margin-top: 90px;
        overflow-y: hidden !important;
    }

    .typingeffect2 {
        font-size: 5vh;
        margin-top: 10px;
        margin-left: 00px;
        overflow-y: hidden !important;
    }

    .descri_Bellifica {
        font-size: 5vh;
        margin-top: 0px;
        text-align: left;
        margin-left: 0px;
        overflow-y: hidden;

    }

    .fundinroxo {
        width: 80%;
        margin-top: 100px;
        margin-left: 120px;
    }



    .pdtdescri h2 {
        color: black;
        font-size: 5vh;
        text-align: center;
        font-weight: bold;
    }

    .pdtdescri p {
        width: 90%;
        color: black;
        font-size: 4vh;
        text-align: center;

    }



    .text1 h2 {
        color: black;
        font-size: 5vh;
        font-weight: bold;

    }

    .text1 p {
        width: 80%;
        color: black;
        font-size: 4vh;

    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .buttonino {
        border: 2px solid #000000;
        color: #000;
        border-radius: 5vh;
        padding: 5px;
        width: 80%;
        height: auto;
        font-size: 3.5vh;
        text-align: center;
        background-color: transparent !important;
        margin-left: 25px;
    }

    .sec11 {

        width: 100%;
    }


    .carrosel {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .body_effects {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .typingeffect {
        font-size: 4vh;
        margin-top: 90px;
        margin-right: 0px;
    }

    .typingeffect2 {
        font-size: 4vh;
        margin-top: 10px;
        margin-right: 0px;
    }

    .descri_Bellifica {
        font-size: 3vh;
        margin-right: 0px;
        text-align: center;
    }

    .sec11 {
        position: absolute;
        z-index: 2;
    }

    .fundinroxo {
        display: none;

    }

    .Titulo_produtos {
        margin-bottom: 0px;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
        font-size: 6vh;
        margin-top: 80px;
        font-weight: bold;


    }

    .pdtcursodicas {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        background-color: #fdd3e4;
    }

    .pdtdescri h2 {
        color: black;
        font-size: 3.8vh;
        text-align: center;
        font-weight: bold;
    }

    .pdtdescri p {
        width: 90%;
        color: black;
        font-size: 2.5vh;
        text-align: center;

    }

    .pdtcursodicas img {
        width: 120%;
        height: 40vh;
        margin-top: 30px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;

    }



    .pdtagendamento {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        background-color: #ff8fb2;
        justify-content: end;

    }

    .text1 h2 {
        color: black;
        font-size: 3.8vh;
        font-weight: bold;
        margin-top: 20px;
    }

    .text1 p {
        width: 90%;
        color: black;
        font-size: 2.5vh;
        margin-top: 0px;

    }

    .pdtagendamento img {
        width: 45%;
        height: 40vh;
        margin-top: 30px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;

    }

}