.faleconosco_corpo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulariofaleconosco_corpo {
    background: linear-gradient(to bottom, #F3B1CE, #EEB7FD);
    width: 65%;
    height: 72vh;
    border-radius: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.divnavbar {
    width: 100%;
    height: 20vh;
    background-color: #9979c1;
}

.titulo_formulariofaleconosco {
    text-align: center;
    font-size: 7.0vh;
    margin-top: 20px;
    font-weight: bold;
}

.input_nomefaleconosco {
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-top: 10px;
    padding-top: 40px;
    height: 10vh;
    width: 70%;
    font-size: 5vh;

}

.input_emailfaleconosco2 {
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-top: 20px;
    padding-top: 40px;
    height: 10vh;
    width: 70%;
    font-size: 5vh;
}

.input_nomefaleconosco::placeholder {
    color: rgb(255, 255, 255);
    font-size: 5vh;
    font-weight: bold;
}


.input_emailfaleconosco2::placeholder {
    color: rgb(255, 255, 255);
    font-size: 5vh;
    font-weight: bold;
}

.input_textfaleconosco {
    width: 70%;
    margin-top: 50px;
    color: black !important;
}


textarea {
    color: black;
    width: 70%;
    height: 20vh;
    margin-top: 40px;
    font-size: 3.5vh;
    border-radius: 30px;
}


textarea::placeholder {
    color: black;
    font-size: 3.5vh;
    font-weight: bold;
    padding: 10px;
}

.submit_faleconosco {
    width: 10%;
    height: 5vh;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 700px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.AiOutlineSend {
    width: 30px;
    height: 3vh;
    padding: 0px;
}

@media screen and (min-width: 1280px) and (max-width: 1456px) {
    .submit_faleconosco {
        margin-right: 450px;
        width: 12%;
    }
}

@media screen and (min-width:768px) and (max-width: 1279px) {

    .input_nomefaleconosco {
        font-size: 2.99vh;
        height: 7.9vh;
    }


    .input_nomefaleconosco::placeholder {
        font-size: 2.99vh;
    }



    .input_emailfaleconosco2 {
        font-size: 2.99vh;
        height: 7.9vh;
    }

    .input_emailfaleconosco2::placeholder {
        font-size: 2.99vh;
    }

    textarea {
        font-size: 2.99vh;
    }

    textarea::placeholder {
        font-size: 2.99vh;
    }



    .submit_faleconosco {
        margin-right: 230px;
        width: 20%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {



    .formulariofaleconosco_corpo {
        width: 100%;
        border-radius: 0;
    }

    .titulo_formulariofaleconosco {
        font-size: 5vh;
    }

    .input_nomefaleconosco {
        font-size: 2vh;
        height: 7.9vh;
    }


    .input_nomefaleconosco::placeholder {
        font-size: 2vh;
    }



    .input_emailfaleconosco2 {
        font-size: 2vh;
        height: 7.9vh;
    }

    .input_emailfaleconosco2::placeholder {
        font-size: 2vh;
    }

    textarea {
        font-size: 2.5vh;
        border-radius: 10px;
    }

    textarea::placeholder {
        font-size: 2.5vh;
    }

    .submit_faleconosco {
        margin-right: 0px;
        width: 33%;
    }


}