*{
    margin: 0;
    border: 0;
    padding: 0;
}

/* SESSÃO 1 ============================================================================*/
.paghome{
    width: 100%;
    height: auto;
}
.sessão1{
    width: 100%;
    height: auto;
}
.cobertura{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
}
.slide{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/imgs/home/img1.png);
    animation: slide 15s infinite;
    background-size: cover;
    
}

@keyframes slide{
    25%{
        background: url(../../assets/imgs/home/img1.png);
        background-size: cover;
    }
    50%{
        background: url(../../assets/imgs/home/img2.png);
        background-size: cover;
    }
    100%{
        background: url(../../assets/imgs/home/img3.jpeg);
        background-size: cover;
    }
}

.slide h1{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 100px;
    text-align: left;
    font-size: 80px;
    color: black;
}

/* SESSÃO 2 ============================================================================*/
.sessão2{
    width: 100%;
    height: auto;
}

.imagensprof{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
}

.imgles{
    width: 40%;
    height: 94vh;
    background-image: url(../../assets/imgs/home/imgprofs1.png);
    animation: imgles 15s infinite;
    transition: all 5s ease-in-out;
    background-size: cover;
    margin-right: 180px;
    margin-left: -30px;
}

@keyframes imgles{
    25%{
        background: url(../../assets/imgs/home/imgprofs2.png);
        background-size: cover;
    }
    50%{
        background: url(../../assets/imgs/home/imgprofs3.png);
        background-size: cover;
    }
    100%{
        background: url(../../assets/imgs/home/imgprofs1.png);
        background-size: cover;
    }
}

.imgldr{
    width: 45%;
    height: 91vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imgldr h1 {
    font-size: 60px;
    color: black;

}
.imgldr p {
    font-size: 30px;
    color: black;
    margin-top: 30px;
}



/* SESSÃO 3 ============================================================================*/
.sessão3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.seH1 h1{
    width: 100%;
    height: 15vh;
    font-size: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.Caixas{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.Caixas .caixona1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.caixaideia{
    width: 30%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px  5px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixaideia p{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

.caixagestao{
    width: 30%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixagestao p{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}



.Caixas .caixona2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.caixacurso{
    width: 30%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixacurso p{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

.caixaauxilio{
    width: 30%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixaauxilio p{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

/* SESSÃO 4 ============================================================================*/

.sessão4{
    width: 99%;
    height: auto;
    background-image: url(../../assets/imgs/home/Rectangle\ 288.png) ;
    background-size: cover;
    margin-top: 150px;
}

.quadro{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


.quadrocursos{
    width: 60%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(149, 21, 170, 0.36) -13.61%, rgba(103, 137, 224, 0.42) 76.3%);    
}

.quadrocursos h3{
    font-size: 50px;
    font-weight: bold;
    
}

.quadrocursos p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.carrosselcurso{
    margin-top: 60px;
}

.inner{
    display: flex;
    
}
.inner img{
    width: 50%;
    height: 70vh;
    margin-left: 20px;
    border-radius: 10px;
}

.carrossel{
    cursor: grab;
    overflow: hidden;
}

/* SESSÃO 5 ============================================================================*/


.sessão5{
    width: 99%;
    height: auto;   
}

.comentarios{
    margin-top: 50px;
}

.comentarios h1{
    font-size: 70px;
}

.blabla{
    height: 200px;
    display: flex;
    justify-content: center;
}

.blabla h1{
    margin-top: 100px;
    height: 50vh;
    color: black;
}

.campocoment{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.Caixacoment .foto{
    width: 17%;
    height: 10vh;
    background-image: url(../../assets/imgs/home/Ellipse\ 46.png);
    background-size: cover;
    margin-top: 10px;
    
}

.Caixacoment h1{
    font-size: 20px;
    color: black;
    margin-top: 15px;
    width: 50px;
}

.Caixacoment p{
    font-size: 20px;
    color: black;
    margin-top: 15px;
    width: 350px;
    text-align: center;
}


.blug{
    width: 150%;
    display: flex;
}

.blug .Caixacoment{
    margin-top: 20px;
    width: 20%;
    height: 50vh;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    z-index: -1;

}

.coment{

    cursor: grab;
    overflow: hidden;
}


/* SESSÃO 6 ============================================================================*/

.sessão6{
    width: 100%;
    height: 170vh;
    background-image: url(../../assets/imgs/home/fundoplanos.png) ;
    background-size: cover;
    margin-top: 100px;
}

.titulo h1{
    font-size: 80px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: black;

}

.caixaplanos{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 150px;
}

.caixagratuito{
    width: 30%;
    height: 90vh;
    background-color: rgba(240, 229, 243, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caixagratuito li {
    width: 80%;
    color: black;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    
}

.caixagratuito h2{
    color: black;
    font-size: 40px;
    margin-top: 50px;
}

.caixagratuito h3{
    color: black;
    font-size: 50px;
    margin-bottom: 50px;
}

.caixapremium{
    width: 30%;
    height: 90vh;
    background-color:rgba(242, 159, 184, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: bottom 1px rgba(0, 0, 0, 0.644);
}

.caixapremium li {
    width: 80%;
    color: black;
    font-size: 20px;
    margin-top: 10px;

}

.caixapremium h2{
    color: black;
    font-size: 40px;
    margin-top: 50px;
}

.caixapremium h3{
    color: black;
    font-size: 50px;
    margin-bottom: 50px;
}


/*Responsividade ============================================================================*/

@media screen and (min-width: 1920px){

    .slide h1{
        width: 45%;
    }

    .imgles{
        width: 46%;
        height: 100vh;
        margin-left: -85px;
    }

    .imgldr{
        width: 40%;
        height: 91vh;
    }

    .caixaideia,.caixagestao,.caixacurso,.caixaauxilio{
        width: 30%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caixaideia p{
        font-size: 30px;
    }

    .caixagestao p{
        font-size: 30px;
    }

    .caixacurso p{
        font-size: 30px;
    }

    .caixaauxilio p{
        font-size: 30px;
    }

    .imgldr h1 {
        font-size: 70px;
        color: black;
    
    }

    .imgldr p {
        font-size: 40px;
        color: black;
    
    }

    .seH1 h1{
        width: 100%;
        height: 15vh;
        font-size: 80px;
    }

    .quadrocursos h3{
        font-size: 70px;
        font-weight: bold;
    }

    .quadrocursos p{
        width: 80%;
        font-size: 30px;
    }

    .Caixacoment .foto{
        width: 26%;
        height: 14vh;
    }

    .Caixacoment h1{
        font-size: 30px;
    }

    .Caixacoment p{
        width: 80%;
        font-size: 25px;
    }

    .sessão6{
        width: 100%;
        height: 150vh;
    }

    .caixagratuito h2{
        
        font-size: 60px;
        margin-top: 50px;
    }
    
    .caixagratuito h3{
        font-size: 70px;
        margin-bottom: 50px;
    }
    .caixapremium h3{
        font-size: 70px;
        margin-bottom: 50px;
    }

    .caixapremium li {
        font-size: 30px;
    }

    .caixagratuito li{
        font-size: 30px;
    }
    

}






