* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* SESSÃO 1 ============================================================================*/

.paghome {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.espaco {
    height: 100vh;
    display: flex;
    align-items: end;
}

.sessão1 {
    width: 100%;
    height: auto;
    margin-top: 10vh;
}

.cobertura {
    width: 100%;
    height: 80vh;
}

.slide {
    width: 100%;
    height: 85vh;

    animation: slide 15s infinite;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
}


.slide h1 {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 100px;
    text-align: left;
    font-size: 80px;
    color: black;
}

.carrosel {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #fd9ba6;
    overflow: hidden;
}

.sec11 {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    color: #000;
    text-align: left;
    padding-left: 5%;
}

.buttonino {
    border: 2px solid #000;
    color: #000;
    border-radius: 5vh;
    padding: 10px;
    width: 40%;
    height: auto;
    font-size: x-large;
    text-align: center;
    background-color: transparent !important;
}

.buttonino:hover {
    transition: all 0.3s ease;
    border: 2px solid #9979c1;
    text-shadow: #9979c1;
    color: #fd9ba6;
    background-color: #9979c1 !important;
    border-radius: 5vh;
    padding: 10px;
    text-align: center;
}

@keyframes typing {
    0% {
        width: 0;
        border-right: .20em solid black;
    }

    99% {
        width: 99%;
        border-right: .20em solid black;
    }

    100% {
        width: 100%;
        border-right: .20em solid transparent;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.typingeffect {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    animation:
        typing 2.7s steps(30, end) forwards,
        blink-caret .75s step-end infinite;
    max-width: min-content;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 3.2rem;
}

.typingeffect2 {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    opacity: 0;
    border-right: .20em solid black;
    animation:
        typing 3.5s steps(30, end) 3.5s forwards,
        blink-caret .75s step-end infinite 3.5s,
        fadeInOpacity 0s ease-in 3.5s forwards;
    max-width: min-content;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 3.2rem;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sec12 {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-items: center;
}

.fundinroxo {
    width: auto;
    height: auto;
    margin-bottom: -10%;
    z-index: 1;
}

.profsscar {
    width: auto;
    height: auto;
    z-index: 2;
    position: absolute;
    right: 100%;
}

.profsscar span {
    display: none !important;
}

.profsscar button {
    display: none !important;
}

.profss {
    width: auto;
    height: auto;
}



.carrosel_img1 {
    width: 100%;
    background-position: center center;
}

.carrosel_img2 {
    width: 100%;
    background-position: center center;

}

.carrosel_img3 {
    width: 100%;
    background-position: center center;

}

/* SESSÃO 2 ============================================================================*/
.sessão2 {
    width: 100%;
    height: auto;
}

.imagensprof {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.imgles {
    width: 37%;
    height: 81vh;
    background-image: url(../../assets/imgs/home/imgprofs1.png);
    animation: imgles 15s infinite;
    transition: all 5s ease-in-out;
    background-size: cover;
    display: flex;
    justify-content: space-between;

}

@keyframes imgles {
    25% {
        background: url(../../assets/imgs/home/imgprofs2.png);

        background-size: cover;
    }

    50% {
        background: url(../../assets/imgs/home/imgprofs3.png);

        background-size: cover;
    }

    100% {
        background: url(../../assets/imgs/home/imgprofs1.png);

        background-size: cover;
    }
}

.imgldr {
    width: 50%;
    height: auto !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.imgldr h1 {

    font-size: 9vh;
    color: #000;
    font-weight: bold;

}

.imgldr p {

    color: #000;
    font-size: 5vh;
    width: 95%;
}



/* SESSÃO 3 ============================================================================*/
.sessão3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.seH1 h1 {
    width: 100%;
    height: 5vh;
    font-size: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.Caixas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.caixona1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.caixaideia {
    width: 30%;
    height: 53vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5vh;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixaideia p {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 4vh;
    margin-top: 15px;
    text-align: center;
}

.caixagestao {
    width: 30%;
    height: 53vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5vh;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixagestao p {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 4vh;
    text-align: center;
}

.caixona2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.caixacurso {
    width: 30%;
    height: 53vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5vh;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixacurso p {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 4vh;
    text-align: center;
}

.caixaauxilio {
    width: 30%;
    height: 53vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5vh;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(171, 81, 225, 0.60) 44.81%, rgba(94, 79, 206, 0.60) 97.43%);
}

.caixaauxilio p {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 4vh;
    text-align: center;
}

/* SESSÃO 4 ============================================================================*/

.sessão4 {
    width: 100%;
    height: auto !important;
    background-image: url(../../assets/imgs/home/Rectangle\ 288.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.sessãocurso {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.buttoninocursos {
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 5vh;
    padding: 2vh;
    width: auto;
    height: auto;
    font-size: x-large;
    text-align: center;
    background-color: transparent !important;
    margin-bottom: 5vh;
}

.buttoninocursos:hover {
    transition: all 0.3s ease;
    border: 2px solid #FFF;
    text-shadow: #FFF;
    color: #7677d2;
    background-color: #FFF !important;
    border-radius: 5vh;
    padding: 2vh;
    text-align: center;
}

.quadro {
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: center;
}


.quadrocursos {
    width: 60%;
    height: auto !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #7677d2;
    gap: 1vh;
}

.quadrocursos h3 {
    font-size: 10vh;
    font-weight: bold;

}

.quadrocursos p {

    width: 90%;
    font-size: 4vh;
    text-align: center;
    font-weight: bold;

}

.carrosselcurso {
    width: auto;
    margin-top: 15vh;

}

.inner {
    display: flex;

}

.inner img {
    width: 50%;
    height: 70vh;
    margin-left: 20px;
    border-radius: 10px;
}

.carrossel {
    cursor: grab;
    overflow: hidden;
}

/* SESSÃO 5 ============================================================================*/


.sessão5 {
    width: 99%;
    height: 100vh;
    background-color: #fff;
}

.comentarios h1 {
    font-size: 70px;
}

.blabla {
    height: 15vh;

}

.blabla h1 {
    height: 10vh;
    color: black;
}

.campocoment {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.Caixacoment .foto {
    width: 17%;
    height: 10vh;
    background-image: url(../../assets/imgs/home/Ellipse\ 46.png);
    background-size: cover;


}

.Caixacoment h1 {
    font-size: 20px;
    color: black;
}

.Caixacoment p {
    font-size: 20px;
    color: black;
    width: 50vh;
    text-align: center;
}

.coment {
    overflow: hidden;
    display: flex;
}

.blug {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
}

.Caixacoment {
    flex: 0 0 auto;
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    border-left: 2vh solid;
    gap: 2vh;
}

.setadr {
    background-color: #fff;
}

.setaes {
    background-color: #fff;
}


/* SESSÃO 6 ============================================================================*/

.sessão6 {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/imgs/home/Rectangle\ 288.png);
    background-size: cover;
    background-position: center center;
    background-clip: content-box;
}

.titulo {
    font-size: 8vh;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
}

.caixaplanos {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.caixagratuito {
    width: 35%;
    height: auto;
    background-color: rgba(240, 229, 243, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.caixagratuito li {
    width: 80%;
    color: black;
    font-size: 3vh;
    text-align: left;
}

.text-container {
    word-wrap: break-word;
}

.caixagratuito h2 {
    color: black;
    font-size: 6vh;
}

.caixagratuito h3 {
    color: black;
    font-size: 8vh;
}

.caixapremium {
    width: 35%;
    height: auto;
    background-color: rgba(242, 159, 184, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: bottom 1px rgba(0, 0, 0, 0.644);
    gap: 2vh;
}

.caixagratuitotitulo,
.caixapremiumtitulo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.caixapremium li {
    width: 80%;
    color: black;
    font-size: 3vh;
}

.caixapremium h2 {
    color: black;
    font-size: 6vh;
}

.caixapremium h3 {
    color: black;
    font-size: 8vh;
}

/*Responsividade ============================================================================*/

@media screen and (min-width: 1920px) {

    .slide h1 {
        width: 45%;
    }

    .imgles {
        width: 43%;
        height: 92vh;
    }

    .imgldr {
        width: 40%;
        height: 91vh;
    }

    .caixaideia,
    .caixagestao,
    .caixacurso,
    .caixaauxilio {
        width: 30%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caixaideia p {
        font-size: 30px;
    }

    .caixagestao p {
        font-size: 30px;
    }

    .caixacurso p {
        font-size: 30px;
    }

    .caixaauxilio p {
        font-size: 30px;
    }

    .imgldr h1 {
        font-size: 70px;
        color: black;

    }

    .imgldr p {
        font-size: 40px;
        color: black;

    }

    .seH1 h1 {
        width: 100%;
        height: 15vh;
        font-size: 80px;
    }

    .quadrocursos h3 {
        font-size: 70px;
        font-weight: bold;
    }

    .quadrocursos p {
        width: 80%;
        font-size: 30px;
    }

    .Caixacoment .foto {
        width: 26%;
        height: 14vh;
    }

    .Caixacoment h1 {
        font-size: 30px;
    }

    .Caixacoment p {
        width: 80%;
        font-size: 25px;
    }

    .sessão6 {
        width: 100%;
        height: auto !important;
    }

    .caixagratuito h2 {

        font-size: 60px;
        margin-top: 50px;
    }

    .caixagratuito h3 {
        font-size: 70px;
        margin-bottom: 50px;
    }

    .caixapremium h3 {
        font-size: 70px;
        margin-bottom: 50px;
    }

    .caixapremium li {
        font-size: 30px;
    }

    .caixagratuito li {
        font-size: 30px;
    }
}

@media screen and (min-width:1280px) and (max-width: 1710px) {






    .imgles {
        margin-left: -100px;
    }


    .fundinroxo {
        width: 80%;
        margin-top: 00px;
        margin-left: 00px;
        margin-bottom: 0px;

    }


    .profss {
        width: 600px;

    }

    .profsscar {
        margin-left: 200px;
        margin-bottom: 80px;

    }

    .imgldr {
        margin-right: 100px;
    }


    .caixona1 {
        margin-top: 80px;
    }


}

@media screen and (min-width:1021px) and (max-width: 1279px) {
    .buttonino {
        border: 2px solid #000;
        color: #000;
        border-radius: 5vh;
        padding: 5px;
        width: 80%;
        height: auto;
        font-size: 3.5vh;
        text-align: center;
        background-color: transparent !important;
    }



    .typingeffect {
        font-size: 3.5vh;
        margin-top: 90px;
        overflow-y: hidden !important;
    }

    .typingeffect2 {
        font-size: 3.5vh;
        margin-top: 10px;
        margin-left: 00px;
        overflow-y: hidden !important;
    }

    .descri_Bellifica {
        font-size: 4vh;
        margin-top: 0px;
        text-align: left;
        margin-left: 0px;
        overflow-y: hidden;

    }

    .fundinroxo {
        width: 108%;
        margin-top: 00px;
        margin-left: 00px;
        margin-bottom: 100px;

    }


    .profss {
        width: 400px;

    }

    .profsscar {
        margin-left: 20px;
        margin-bottom: 200px;

    }

    .imgles {
        scale: 0.799;
        width: 100%;
        margin-left: -120px;
    }

    .imgldr h1 {

        font-size: 4.66vh;
        color: #000;
        font-weight: bold;

    }

    .imgldr p {

        color: #000;
        font-size: 4vh;
        width: 95%;
    }


    .seH1 h1 {
        font-size: 7vh;
        margin-bottom: 100px;
    }

    .caixaideia {
        width: 43%;
    }

    .caixaideia p {
        font-size: 3.55vh;
    }



    .caixaauxilio {
        width: 43%;
    }

    .caixaauxilio p {
        font-size: 3.55vh;
    }

    .caixagestao {
        width: 43%;
    }

    .caixagestao p {
        font-size: 3.55vh;
    }

    .caixacurso {
        width: 43%;
    }

    .caixacurso p {
        font-size: 3.55vh;
    }

    .quadrocursos {
        width: 90%;
        margin-top: -40px;
    }

    .quadrocursos h3 {
        font-size: 7vh;
    }

    .quadrocursos p {
        font-size: 3.8vh;
    }

    .titulo {
        margin-top: -100px;
    }

    .caixagratuito {
        width: 45%;
        height: 530px;
    }

    .caixapremium {
        width: 45%;
    }
}

@media screen and (min-width:895px) and (max-width: 1020px) {


    .buttonino {
        border: 2px solid #000;
        color: #000;
        border-radius: 5vh;
        padding: 5px;
        width: 80%;
        height: auto;
        font-size: 3.5vh;
        text-align: center;
        background-color: transparent !important;
    }



    .typingeffect {
        font-size: 3.5vh;
        margin-top: 90px;
        overflow-y: hidden !important;
    }

    .typingeffect2 {
        font-size: 3.5vh;
        margin-top: 10px;
        margin-left: 00px;
        overflow-y: hidden !important;
    }

    .descri_Bellifica {
        font-size: 4vh;
        margin-top: 0px;
        text-align: left;
        margin-left: 0px;
        overflow-y: hidden;

    }

    .fundinroxo {
        width: 108%;
        margin-top: 100px;
        margin-left: 00px;
        margin-bottom: 150px;

    }


    .profss {
        width: 300px;

    }

    .profsscar {
        margin-left: 20px;
        margin-bottom: 220px;

    }

    .imgles {
        scale: 0.799;
        width: 100%;
        margin-left: -120px;
    }

    .imgldr h1 {

        font-size: 4.66vh;
        color: #000;
        font-weight: bold;

    }

    .imgldr p {

        color: #000;
        font-size: 4vh;
        width: 95%;
    }


    .seH1 h1 {
        font-size: 7vh;
        margin-bottom: 100px;
    }

    .caixaideia {
        width: 43%;
    }

    .caixaideia p {
        font-size: 3.55vh;
    }



    .caixaauxilio {
        width: 43%;
    }

    .caixaauxilio p {
        font-size: 3.55vh;
    }

    .caixagestao {
        width: 43%;
    }

    .caixagestao p {
        font-size: 3.55vh;
    }

    .caixacurso {
        width: 43%;
    }

    .caixacurso p {
        font-size: 3.55vh;
    }

    .quadrocursos {
        width: 90%;
        margin-top: -40px;
    }

    .quadrocursos h3 {
        font-size: 7vh;
    }

    .quadrocursos p {
        font-size: 3.8vh;
    }

    .titulo {
        margin-top: -100px;
    }

    .caixagratuito {
        width: 45%;
        height: 530px;
    }

    .caixapremium {
        width: 45%;
    }
}



@media screen and (min-width:768px) and (max-width: 894px) {
    .buttonino {
        border: 2px solid #000;
        color: #000;
        border-radius: 5vh;
        padding: 5px;
        width: 80%;
        height: auto;
        font-size: 3.5vh;
        text-align: center;
        background-color: transparent !important;
    }



    .typingeffect {
        font-size: 3.5vh;
        margin-top: 90px;
        overflow-y: hidden !important;
    }

    .typingeffect2 {
        font-size: 3.5vh;
        margin-top: 10px;
        margin-left: 00px;
        overflow-y: hidden !important;
    }

    .descri_Bellifica {
        font-size: 4vh;
        margin-top: 0px;
        text-align: left;
        margin-left: 0px;
        overflow-y: hidden;

    }

    .fundinroxo {
        width: 108%;
        margin-top: 100px;
        margin-left: 00px;
        margin-bottom: 150px;

    }


    .profss {
        width: 300px;

    }

    .profsscar {
        margin-left: 20px;
        margin-bottom: 220px;

    }

    .imgles {
        scale: 0.799;
        width: 100%;
        margin-left: -120px;
    }

    .imgldr h1 {

        font-size: 4.66vh;
        color: #000;
        font-weight: bold;

    }

    .imgldr p {

        color: #000;
        font-size: 4vh;
        width: 95%;
    }


    .seH1 h1 {
        font-size: 7vh;
        margin-bottom: 100px;
    }

    .caixaideia {
        width: 43%;
    }

    .caixaideia p {
        font-size: 3.55vh;
    }



    .caixaauxilio {
        width: 43%;
    }

    .caixaauxilio p {
        font-size: 3.55vh;
    }

    .caixagestao {
        width: 43%;
    }

    .caixagestao p {
        font-size: 3.55vh;
    }

    .caixacurso {
        width: 43%;
    }

    .caixacurso p {
        font-size: 3.55vh;
    }

    .quadrocursos {
        width: 90%;
        margin-top: -40px;
    }

    .quadrocursos h3 {
        font-size: 7vh;
    }

    .quadrocursos p {
        font-size: 3.8vh;
    }

    .titulo {
        margin-top: -100px;
    }

    .caixagratuito {
        width: 90%;
    }

    .caixapremium {
        width: 90%;
    }

    .sessão6 {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .caixaplanos {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .caixagratuito {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .text-container {
        font-size: 14px;
        /* Ajuste o tamanho da fonte conforme necessário */
        width: 90%;
        /* Ou a porcentagem que melhor se adapte ao seu design */
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .sec11{
        width: 100%;
        flex-wrap: wrap;
    }
    .typingeffect{
        font-size: x-large;
    }
    .typingeffect2{
        font-size: x-large;
    }
    .sec12{
        width: 100%;
    }
    .profsscar{
        right: 0;
        left: 0;
        width: 90%;
        height: 50vh;
    }
    .profss{
        width: 90%;
        height: 50vh;
    }
    .carrosel{
        height: auto;
        flex-direction: column;
    }

    .sessão2 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .imagensprof {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .imgles {
        width: 95%;
        height: 63vh;
    }
    .imgldr{
        width: 90%;
    }



    .Caixas {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .caixona1 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .caixona2 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .caixaideia,
    .caixagestao {
        height: auto;
        width: 90%;
    }

    .caixaauxilio,
    .caixacurso {
        height: auto;
        width: 90%;
    }

    .quadrocursos {
        width: 90%;
    }

    .sessão6 {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .caixaplanos {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .caixagratuito {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    .caixapremium {

        width: 100%;
        display: flex;
        flex-direction: column;
    }

}