.img-div {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-image: url('../../assets/imgs/home/ImageBackground.png'); */
    height: auto;
}

.background-page {
    background-color: #F4C8D2;
    height: 100%;
}

.text-div {
    position: absolute;
    background-color: #fff;
    opacity: 60%;
    padding: 20px;
    border-radius: 30px;
    margin-left: 50px;
}

.text {
    color: black;
    font-size: 30px;
    align-self: flex-start;

}

.background-img {
    width: 80%; 
    height: auto;
    border-radius: 0px;
    position: relative;
}