* {
  margin: 0;
  border: 0;
  padding: 0;
}

.politica{
  margin-left: 5.5%;
  color: black;
  width: 85%;
  height: 70vh;
  background-color: #fd9ba6;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 5%;
}