/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  font-size: xx-large;
  transition: background-color 0.5s ease-in-out;
  z-index: 100;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Inicialmente transparente */
  height: 20vh;
  transition: all 0.8s ease;
}
header Link, header li{
  text-decoration: none;
}

header.scrolled ul {
  height: 7vh;
  background-image: none;
  background-color: #FB9CB2; /* Altera para rosa ao rolar */
}
header ul li:hover{
  border-bottom: 5px solid #FB9CB2;
  border-radius: 10px;
  transition: all 0.5s;
}
header.scrolled ul li:hover{
  border-bottom: 3px solid white;
  border-radius: 10px;
  transition: all 0.5s;
}

.logo {
  width: 100px;
  height: 100px;
}
.logo2{
  width: 50px;
  height: 50px;
}

.header-login {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  font-size: x-large;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fb9cb2;
  font-size: x-large;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-login:hover .dropdown-content,
.header-login.active .dropdown-content {
  display: block;
  text-decoration: none;
}
.header-login:hover .dropdown-content2,
.header-login.active .dropdown-content2 {
  display: block;
  text-decoration: none;
}

.menu-img {
  width: 35px;
}

.menu-button {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.menu-option-white {
  color: white;
  text-decoration: none;
}

.menu-option-pink {
  color: #FB9CB2; /* ou a cor rosa desejada */
  text-decoration: none;
}

.menu-option2-white {
  color: white;
  text-decoration: none;
  display: none;
}

.menu-option2-pink {
  color: #FB9CB2; /* ou a cor rosa desejada */
  text-decoration: none;
  display: none;
}
.text-white {
  color: white !important;
  text-decoration: none;
}

.text-pink {
  color: #FB9CB2 !important;
  text-decoration: none;
  font-size: 5vh;
}