@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #f9f9f9;
}

header {
    margin: 0;
    padding: 0;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #FB9CB2;
    margin: 0;
    padding: 10px;
}

.logo {
    width: 50px;
    height: 55px;
}

.header-login {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-login:hover .dropdown-content {
  display: block;
}

.header-login .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-login.active .dropdown-content {
  display: block;
}

.menu-img {
    width: 35px;
}

.menu-button {
    background-color: transparent;
    border-width: 0px;
}

.menu-option {
    color: black;
}
