/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  height: auto;
  font-size: xx-large;
  z-index: 100;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 20vh;
  transition: all 0.8s ease;
}

header Link,
header li {
  text-decoration: none;
}

header.scrolled ul {
  height: 7vh;
  background-image: none;
  background-color: #9979c1;
  /* Altera para rosa ao rolar */
}

header ul li:hover {
  border-bottom: 5px solid #9979c1;
  border-radius: 10px;
  transition: all 0.5s;
}

header.scrolled ul li:hover {
  border-bottom: 3px solid white;
  border-radius: 10px;
  transition: all 0.5s;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo2 {
  width: 50px;
  height: 50px;
}

.header-login {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  font-size: x-large;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fb9cb2;
  font-size: x-large;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-login:hover .dropdown-content,
.header-login.active .dropdown-content {
  display: block;
  text-decoration: none;
}

.header-login:hover .dropdown-content2,
.header-login.active .dropdown-content2 {
  display: block;
  text-decoration: none;
}

.menu-img {
  width: 35px;
}

.menu-button {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.menu-option-white {
  color: white;
  text-decoration: none;
}

.menu-option-pink {
  color: #FB9CB2;
  /* ou a cor rosa desejada */
  text-decoration: none;
}

.menu-option2-white {
  color: white;
  text-decoration: none;
  display: none;
}

.menu-option2-pink {
  color: #FB9CB2;
  /* ou a cor rosa desejada */
  text-decoration: none;
  display: none;
}

.text-white {
  color: white !important;
  text-decoration: none;
}

.text-white2 {
  color: white !important;
  text-decoration: none;
}

.text-white:hover {
  color: black !important;
  text-decoration: none;
  border-bottom: 5px solid black;
  transition: all 0.5s;
}

.text-white2:hover {
  color: black !important;
  text-decoration: none;
  border-bottom: 5px solid black;
  transition: all 0.5s;
}

.text-pink {
  color: #FB9CB2 !important;
  text-decoration: none;
  font-size: 5vh;
}

@media screen and (min-width:515px) and (max-width: 673px) {
  .logo {
    width: 50px;
    height: 50px;
  }

  .text-white2 {
    font-size: 4vh;
  }

}

@media screen and (min-width:300px) and (max-width: 514px) {
  .logo {
    width: 40px;
    height: 40px;
  }

  .text-white2 {
    font-size: 3vh;
    display: none;
  }

  .menu-button {
    width: 50px;
    height: 50px;
    margin-right: 40px;
    overflow-y: hidden;
    overflow-x: hidden !important;
  }

  a>.text-white {
    display: none;
  }

  /* Adicione isso ao seu CSS existente */
  



}