section{ 
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #FFF6F4;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pergunta{
    width: 85%;
    height: auto;
    background-color: #FDD3E4;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}


.text{
    width: 85%;
    height: auto;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 20px;
    }

.poligono{
    width: 50px;
    height: 70px;
    margin-top: 20px;
    rotate: 270deg;
    margin-left: 5%;
}

.text h3{color: black;
    padding: 15px;
}

.invisible{
    color: black;
    display: none;
}

.visible{
    display: inline;
    color: black;
}