*{
    margin: 0;
    border: 0;
    padding: 0;
}

section{ 
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #FFF6F4;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.divnavbar{
    width: 100%;
    height: 20vh;
    background-color: #9979c1;
    margin-top: -10vh;
   /* Cor de fundo semelhante ao da imagem */
}

.titulofaq h1{
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    font-size: 10vh;
}

.pergunta{
    width: 85%;
    height: auto;
    background-color: #FDD3E4;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}


.text{
    width: 85%;
    height: auto;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 20px;
    }

.poligono{
    width: 50px;
    height: 70px;
    margin-top: 20px;
    rotate: 270deg;
    margin-left: 5%;
}

.text h3{
    color: black;
    padding: 15px;
}
.text li{
    color: black;
}

.invisible{
    color: black;
    display: none;
}

.visible{
    display: inline;
    color: black;
}