@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.pagsobre {
    width: 100%;
    height: 100vh;

}

/*quem somos*/

.quemsomos {
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 500px;
    height: 300px;
    margin-left: 450px;
    margin-top: 220px;
}

.fundao {
    width: 100%;
    height: 265vh;
    background-image: url(../../assets/imgs/sobre/fundo-sobre.png);
    background-repeat: no-repeat;
    margin-top: 70px;

}

.imagem1 {
    width: 500px;
    height: 520px;
    margin-top: 150px;

}

.grupo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;

}

.texto1 .qmsomos {
    font-size: 60px;
    color: #000;
    font-weight: bold;
    padding-bottom: 20px;

}

.texto1 .textsomos {
    width: 300px;
    color: #000;
    font-size: 30px;
    font-weight: bold;

}

.grupo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagem2 {
    width: 500px;
    height: 620px;
    margin-right: 80px;
    margin-top: 150px;

}

.texto2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.texto2 .objetivo {
    color: #000;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}

.texto2 .textobjetivo {
    width: 600px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-top: 30px;
    margin-left: 20px;
}

.texto2 .titprinci {
    padding-top: 250px;
    color: #000;
    font-size: 55px;
    font-weight: bold;
}

/* principios */


.enfoque {
    width: 650px;
    height: 300px;
    background-color: #DCCBED;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
}

.iconeenf {
    width: 200px;
    height: 100px;
}

.conteuenfo,
.enfo,
.textenfo {
    color: #000;
    padding-bottom: 10px;
}

.conteuenfo .enfo {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 35px;
}

.conteuenfo .textenfo {
    font-size: 25px;
    margin-bottom: 50px;
}

/*ética*/

.campetica {
    display: flex;
    justify-content: end;
}

.etica {
    width: 650px;
    height: 300px;
    background-color: #FDD3E4;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;

}

.iconeetic {
    width: 200px;
    height: 100px;

}

.conteuetica {
    margin-left: 50px;

}

.conteuetica .etic,
.textetic {
    color: #000;
}

.conteuetica .etic {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.conteuetica .textetic {
    font-size: 25px;
    margin-bottom: 15px;
}

/*meta*/

.meta {
    width: 650px;
    height: 300px;
    background-color: #FA93BC;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;

}

.iconemeta {
    width: 150px;
    height: 150px;
}

.conteumeta {
    padding: 10px;
}

.conteumeta,
.met,
.textmet {
    color: #000;
    padding-bottom: 10px;
}

.conteumeta .met {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 35px;
}

.conteumeta .textmet {
    font-size: 25px;
    margin-bottom: 50px;

}

/*logo bellifica e seus significados*/

.siglogo {
    width: 900px;
    margin-top: 100px;
    margin-left: 250px;

}

/*RESPONSIVIDADE*/

@media screen and (min-width: 1920px) {
    .fundao {
        width: 100%;
        height: 255vh;
        background-image: url(../../assets/imgs/sobre/fundo-bubble.png);
    }

    .logo {
        width: 800px;
        height: 400px;
        margin-left: 600px;
        margin-top: 350px;
    }

    .imagem1 {
        width: 700px;
        height: 720px;
        margin-top: 250px;

    }

    .texto1 {
        margin-right: 200px;

    }

    .texto1 .qmsomos {
        font-size: 110px;
    }

    .texto1 .textsomos {
        width: 600px;
        font-size: 50px;

    }

    .imagem2 {
        width: 800px;
        height: 920px;
        margin-right: 150px;
        margin-top: 150px;
    }

    .texto2 .objetivo {
        font-size: 80px;
        padding-bottom: 20px;
    }

    .texto2 .textobjetivo {
        width: 600px;
        font-size: 35px;

    }

    .texto2 .titprinci {
        margin-top: 300px;
        font-size: 80px;
        font-weight: bold;
    }

    .enfoque {
        width: 850px;
        height: 400px;

    }

    .iconeenf {
        width: 300px;
        height: 120px;
    }

    .conteuenfo .enfo {
        font-size: 70px;

    }

    .conteuenfo .textenfo {
        font-size: 35px;

    }

    .etica {
        width: 850px;
        height: 400px;
    
    }
    
    .iconeetic {
        width: 300px;
        height: 120px;
    
    }
    
    .conteuetica .etic {
        font-size: 70px;

    }
    
    .conteuetica .textetic {
        font-size: 35px;
        margin-bottom: 25px;

    }

    .meta {
        width: 850px;
        height: 400px;
    
    }
    
    .iconemeta {
        width: 170px;
        height: 170px;
    }
    
    .conteumeta .met {
        font-size: 70px;
    }
    
    .conteumeta .textmet {
        font-size: 35px;
    
    }

    .siglogo {
        width: 70%;
        margin-top: 100px;
        margin-left: 300px;
    
    }


}