@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.pagsobre {
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;

}

/*quem somos*/

.quemsomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fundao {
    width: 100%;
    height: 265vh;
    background-image: url(../../assets/imgs/sobre/fundo-sobre.png);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    margin-top: 15vh;
    z-index: 2;

}

.grupo1 {
    width: 100%;
    height: 110vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.imagem1 {
    width: 35%;
    height: 80vh;

}

.texto1 {
    width: 35%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;

}

.qmsomos {
    width: 100%;
    height: auto;

    font-size: 10vh;
    color: #000;
    font-weight: bold;

    text-align: left;

}

.textsomos {
    width: 100%;
    height: auto;

    color: #000;
    font-size: 5vh;


}

.grupo2 {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;

}

.imagem2 {
    width: 35%;
    height: 90vh;
}

.texto2 {
    width: 35%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;


}

.objetivo {
    width: 100%;
    color: #000;
    font-size: 50px;
    font-weight: bold;
    text-align: left;

}

.textobjetivo {
    width: 100%;
    font-size: 30px;
    color: #000;

}

/* principios */
.princi {
    width: 100%;
    height: auto;
    margin-top: -45vh;
    z-index: 1;

    display: flex;
    align-items: flex-start;

}

.titprinci {
    color: #000;
    font-size: 10vh;
    font-weight: bold;
    margin-left: 5vh;
    
}

.princitudo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.campenfoque {
    width: 100%;

}

.campoetica{
    width: 100%;

}

.campmeta {
    width: 100%;

}

.enfoque {
    width: 65%;
    height: 55vh;
    background-color: #DCCBED;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.iconeenf {
    width: 25%;
    height: 20vh;

}

.conteuenfo {
    width: 70%;
    height: 35vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;

}

 .enfo {
    width: 30%;
    color: #000;
    font-weight: bold;
    font-size: 10vh;
    text-align: center;

}

 .textenfo {
    width: 90%;
    color: #000;
    font-size: 4vh;
    margin-bottom: 50px;

}

/*ética*/

.campetica {
    display: flex;
    justify-content: end;
}

.etica {
    width: 65%;
    height: 55vh;
    background-color: #FDD3E4;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.iconeetic {
    width: 20%;
    height: 20vh;

}

.conteuetica {
    width: 70%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;

}

.etic {
    width: 30%;
    color: #000;
    font-weight: bold;
    font-size: 10vh;
    text-align: center;


}

.textetic {
    width: 95%;
    color: #000;
    font-size: 4vh;

}

/*meta*/

.meta {
    width: 65%;
    height: 55vh;
    background-color: #FA93BC;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.iconemeta {
    width: 20%;
    height: 25vh;
}

.conteumeta {
    width: 70%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.met {
    width: 30%;
    color: #000;
    font-weight: bold;
    font-size: 10vh;
    text-align: center;

}

 .textmet {
    width: 90%;
    color: #000;
    font-size: 4vh;

}


/*RESPONSIVIDADE*/

@media screen and (min-width: 1920px) {
    .fundao {
        background-image: url(../../assets/imgs/sobre/fundo-bubble.png);

    }


}