* {
  margin: 0;
  border: 0;
  padding: 0;
}

.contato {
  margin-left: 5.5%;
  color: black;
  width: 85%;
  height: 70vh;
  background-color: #fd9ba6;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 20%;
}

.contato h1 {
  width: 90%;
  text-align: center;
  font-weight: bold;
}

.redes {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.redes svg {
  cursor: pointer;
}

.contato h3 {
  width: 90%;
  text-align: center;
  font-weight: bold;
}