* {
  margin: 0;
  border: 0;
  padding: 0;
}

.meudado {
  margin-left: 5.5%;
  color: black;
  width: 85%;
  height: 70vh;
  background-color: #fa93bc;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.meudado input{
  width: 50%;
  height: 5%;
  color: black;
  border-radius: 5px;
  padding: 1%;
}