.configpainelstyle {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.tituloSecao{
  color: black;
}

.cursosContainer {
  padding: 1vw 0;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}


.cursoCard {
  background-color: #333;
  color: #fff;
  padding: 1vw;
  margin: 1vw;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cursoTitle {
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1vw;
}

.cursoImage {
  max-width: 100%;
  border-radius: 4px;
}

.slick-slide {
  padding: 0 1vw;
}

.slick-prev, .slick-next {
  color: #fff;
  z-index: 1;
}

.slick-dots li button:before {
  color: #fff;
}
