@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.pagcurso {
  width: 100%;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

.carrosel {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  background-color: #9979C1;
  overflow: hidden;
}

.sec11 {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  color: #000;
  text-align: left;
  padding-left: 5%;
}

.buttonino {
  border: 2px solid #000;
  color: #000;
  border-radius: 5vh;
  padding: 10px;
  width: 30%;
  height: auto;
  font-size: x-large;
  text-align: center;
  background-color: transparent !important;
}

.buttonino:hover {
  transition: all 0.3s ease;
  border: 2px solid #fd9ba6;
  text-shadow: #fd9ba6;
  color: #9979C1;
  background-color: #fd9ba6 !important;
  border-radius: 5vh;
  padding: 10px;
  width: 30%;
  text-align: center;
}

.sec12 {
  width: 50%;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-items: center;
}

.fundinrosa {
  width: auto;
  height: auto;
  z-index: 1;
}

.mulhercurso {
  z-index: 2;
}

.banner {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.caixaroxa {
  width: 100%;
  height: 90vh;
  background-color: #9979C1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgbanner {
  width: 45%;
  height: 85vh;
}

.descricurso {
  width: 35%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

.titcurso {
  width: 100%;
  height: auto;
  font-size: 7vh;
}

.textcurso {
  width: 100%;
  height: auto;
  font-size: 4vh;
}

.senac {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;


}


.logosenac {
  width: 65%;
  height: 20vh;

}

/* Estilos para o container do carrossel de imagens */
.imageCarousel {
  display: flex;
  /* Exibe as imagens em linha */
  overflow-x: auto;
  /* Adiciona uma barra de rolagem horizontal se necessário */
  gap: 10px;
  /* Espaçamento entre as imagens */
}

/* Estilos para cada imagem */
.imageCard {
  flex: 0 0 auto;
  /* Define o tamanho da imagem para não crescer ou encolher */
  width: 300px;
  /* Largura fixa para cada imagem (ajuste conforme necessário) */
  border-radius: 8px;
  /* Arredondamento das bordas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

/* Estilos para a imagem */
.imageCard img {
  width: 100%;
  /* Faz com que a imagem preencha toda a largura do container */
  height: auto;
  /* Mantém a proporção da imagem */
  border-radius: 8px;
  /* Arredondamento das bordas */
}

.logoembelleze {
  width: 35%;
  height: 20vh;
}