@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.pagcurso {
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;

}

/*quem somos*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.caixaroxa {
    width: 100%;
    height: 100vh;
    background-color: #9979C1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.imgbanner {
    width: 45%;
    height: 85vh;
}

.descricurso {
    width: 35%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.titcurso {
    width: 100%;
    height: auto;
    font-size: 7vh;
}

.textcurso {
    width: 100%;
    height: auto;
    font-size: 4vh;
}

.senac {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aqua;
}

.interno {
    display: flex;

}

.item {
    min-height: 50vh;
    min-width: 50vh;
    padding: 14px;
    
}

.item img {
    width: 100%;
    height: 50vh;
    pointer-events: none;
}

.carousel {
    cursor: grab;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: #9979C1;

}
