.carouselContainer {
    display: flex;
    align-items: center;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px; /* Espaço entre as imagens */
    padding: 10px 0; /* Espaçamento interno */
  }
  
  /* Esconde as imagens que não estão visíveis */
  .hidden {
    display: none;
  }
  
  /* Exibe a imagem ativa */
  .active {
    width: 100vh; /* Largura das imagens */
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }

/* ImageCarousel.module.css */

/* Estilos para os botões */
Button {
    background-color: #9979C1; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    border: none; /* Remova a borda dos botões */
    padding: 8px 16px; /* Espaçamento interno dos botões */
    cursor: pointer; /* Mude o cursor ao passar por cima do botão */
    margin: 0 5px; /* Adicione margem entre os botões */
  }

  .image {
    /* Ajuste o tamanho das imagens para telas maiores */
    /* Use vh para dimensionar com base na altura da viewport */
    width: 300px; /* Ajuste conforme necessário */
    height: 300px; /* Ajuste conforme necessário */
    /* Outros estilos desejados para as imagens */
  }

  .imageDescription {
    height: 10vh;
    background-color: #fa93bc;
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold;
    color: #000000; /* Cor do texto */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .imageLink {
    text-decoration: none; /* Remove o sublinhado padrão */
   
  }

  .imageLink:hover {
    text-decoration: underline; /* Adiciona sublinhado quando passa o cursor */
    color: #9979C1; /* Define a cor do texto quando passa o cursor */
    /* Outros estilos desejados quando o cursor passa por cima */
  }


 /* Media Query para telas maiores, como monitores de 1920px */
@media screen and (min-width: 1920px) {
  .carouselContainer {
    /* Ajuste o layout do container do carrossel para telas maiores */
    /* Por exemplo, defina uma largura máxima para o carrossel */
    max-width: 1600px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centralize horizontalmente */
  }

  .carousel {
    /* Ajuste o layout do carrossel para telas maiores */
    /* Por exemplo, exiba mais imagens por vez ou ajuste o espaçamento */
    justify-content: space-between;
  }
  
  Button {
    /* Ajustes para os botões do carrossel em telas maiores */
    /* Por exemplo, aumente o tamanho dos botões */
    font-size: 20px;
    padding: 12px 20px;
  }

  .image {
    /* Ajuste o tamanho das imagens para telas maiores */
    /* Use vh para dimensionar com base na altura da viewport */
    width: 420px; /* Ajuste conforme necessário */
    height: 420px; /* Ajuste conforme necessário */
    /* Outros estilos desejados para as imagens */
  }

  .imageDescription {
    /* Ajuste o estilo das descrições para telas maiores */
    /* Por exemplo, ajuste o espaçamento ou o tamanho do texto */
    font-size: 30px; /* Ajuste conforme necessário */
    /* Outros estilos desejados para as descrições */
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .carouselContainer {
    /* Ajuste o layout do container do carrossel */
    padding: 0; /* Remova qualquer padding que esteja causando espaçamento extra */
    margin: 0; /* Remova margens para melhor aproveitamento do espaço na tela */
  }

  .carousel {
    /* Ajuste o layout do carrossel */
    /* Por exemplo, faça os botões ocuparem a largura total */
    display: flex;
    flex-direction: column; /* Coloque os botões um embaixo do outro */
    align-items: center; /* Centralize os botões verticalmente */
  }

  .carousel button {
    /* Ajuste o estilo dos botões */
    /* Por exemplo, aumente o tamanho e o espaçamento entre os botões */
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
  }

  .image {
    /* Ajuste o tamanho das imagens */
    /* Por exemplo, faça as imagens ocuparem a largura total */
    width: 100%;
    height: auto;
  }

  .imageDescription {
    /* Ajuste o estilo das descrições */
    /* Por exemplo, reduza o tamanho da fonte */
    font-size: 14px;
  }
}
  
   
  

